* {
	font-family: "Verdana", sans-serif;
	font-size: 20px;
}

#external_p {
	color: yellowgreen;
}

h1 {
	font-size: 2rem;
}

#H2 {
	text-transform: uppercase;
}

.la {
	background-color: green;
}

li[class="tools"] {
	border: 2px solid black;
}

img + ul {
	list-style: none;
}

section > ul {
	letter-spacing: 8px;
}

section img {
	border-radius: 50%;
	width: 300px;
	height: 300px;
}

#footnote {
	text-align: center;
	color: black;
}